html {
  background-color: #fafafa;
  font-family: Helvetica,Arial,sans-serif;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 1em auto;
  max-width: 860px;
  padding: 0;
  color: #111;
}

p {
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0;
  padding: 0.5em 0;
}

a {
  color: #378fe6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #8252ad;
}

.selectedCounty {
  fill: none;
  stroke: red;
}

.block {
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 1em 0;
  position: relative;
}

.mapContainer {
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
}

.map {
  display: block;
  margin: 0 auto;
}

.counties {
  fill: transparent;
  stroke: none;
}

.county-borders {
  fill: none;
  pointer-events: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.5px;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.header {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0;
}

.footer {
  width: 100%;
  padding-bottom: 0.5em;
}

.buttonBar {
  display: inline-block;
  margin-left: 1em;
}

.timeDisplay {
  margin-left: 2.5em;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  min-width: 140px;
  margin-top: 0.5em;
}

.playbackControls {
  box-sizing:border-box;
  padding: 0 1em;
  position:relative;
  width:100%;
}

.textBlock {
  padding: 0.5em 1em;
}

.question {
  font-size: 1.0em;
  font-weight: bold;
  padding-top: 0.5em;
}

.legend {
  font-size: 0.8em;
  padding: 0.5em 1em;
  min-height: 4em;
}

.legendItem {
  display: inline-block;
  padding: 5px 20px 5px 0px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.legendTitle {
  min-width: 180px;
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
  vertical-align: top;
}


@media (max-width: 862px) {
  .block {
    border-width: 1px 0;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 auto;
  }

  .block {
    margin: 0 0 1em 0;
  }

  .footer {
    white-space:nowrap;
    overflow:hidden;
  }

  .playbackControls {
    width: 190px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 0 0 10px;
  }
  .rangeContainer {
    display: none;
  }
  .rangeInput {
    display: none;
  }
  .timeDisplay {
    vertical-align: middle;
    margin: 0 auto;
    padding-left: 15px;
  }
}

@media (max-width: 580px) {
  .legend {
    min-height: 6em;
  }
}

@media (max-width: 400px) {
  .legend {
    min-height: 8.6em;
  }

  .legendItem {
    display: inline-block;
    padding: 5px 10px 5px 0px;
    overflow: hidden;
  }

  .legendTitle {
    min-width: 260px;
    display: inline-block;
    font-weight: bold;
    padding: 5px 0;
  }

  .timeDisplay {
    padding-left: 10px;
    font-size: 0.7em;
  }
}

@media (max-width: 374px) {
  .legend {
    min-height: 8.6em;
  }

  .legendItem {
    display: inline-block;
    width: 130px;
    min-width: 130px;
    overflow: hidden;
  }

  .legendTitle {
    min-width: 260px;
    display: inline-block;
    font-weight: bold;
    padding: 5px 0;
  }

  .timeDisplay {
    padding-left: 10px;
    font-size: 0.7em;
  }
}

.rangeInput {
  width: calc(100% - 60px);
}

.pause {
  background: transparent url('svg/pause.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.play {
  background: transparent url('svg/play.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.oneForward {
  background: transparent url('svg/oneforward.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.oneBackward {
  background: transparent url('svg/onebackward.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.speed3 {
  background: transparent url('svg/s3.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.speed4 {
  background: transparent url('svg/s4.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.speed5 {
  background: transparent url('svg/s5.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.speed2 {
  background: transparent url('svg/s2.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.speed1 {
  background: transparent url('svg/s1.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.rewind {
  background: transparent url('svg/rewind.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.reset {
  background: transparent url('svg/reset.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.button {
  border: 1px solid #eaeaea;
  border-radius: 4px 4px 4px 4px;
  margin: 8px 0 16px;
  position: relative;
  z-index: 1;
}

.button::after {
  content: attr(title);
  display: block;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.button:focus {
  border-color: #ccccea;
  outline: 0;
  z-index: 2;
}

.leftButton {
  border-radius: 4px 0 0 4px;
}

.middleButton {
  border-radius: 0;
  left: -1px;
}


.rightButton {
  border-radius: 0 4px 4px 0;
  left: -1px;
}

.pressedButton {
  background-color: #ccc;
  border-color: #ddd;
  font-weight: bold;
}

.background {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('background.png');

  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-position:center;
}

.legendSquare {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
  vertical-align: bottom;
}

.rangeContainer {
  display: inline-block;
  margin-left: 16px;
  position: relative;
  vertical-align: middle;
  width:calc(100% - 220px)
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  background: #333333;
  border-radius: 1px;
  border: 0px solid #222222;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  border: 0px solid #222222;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #222222;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a2a2a2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  background: #222222;
  border-radius: 1px;
  border: 0px solid #222222;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  border: 0px solid #222222;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #222222;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #222222;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
}
input[type=range]::-ms-fill-upper {
  background: #222222;
  border: 0px solid #222222;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  border: 0px solid #222222;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #222222;
  cursor: pointer;
}

input[type=range]::-ms-tooltip {
  display: none;
}

input[type=range]:focus::-ms-fill-lower {
  background: #222222;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a2a2a2;
}

.preload {
  display: none;
}
