html {
  background-color: #fafafa;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 1em auto;
  max-width: 860px;
  padding: 0;
  color: #111;
}

p {
  font-size: 0.9em;
  margin: 1em;
}

.block {
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 1em 0;
  position: relative;
}

.mapContainer {
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
}

.map {
  display: block;
  margin: 0 auto;
}

.counties {
  fill: transparent;
  stroke: none;
}

.county-borders {
  fill: none;
  pointer-events: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.5px;
}

.title {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 0.25em 0.5em;
}

.footer {
  min-height: 2em;
  width: 100%;
}

.buttonBar {
  display: inline-block;
  margin-left: 1em;
}

.timeDisplay {
  margin-left: 1em;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  min-width: 160px;
}

.rangeInput {
  width: calc(100% - 60px);
}

.playPause {
  background: transparent url('playpause.svg') center center no-repeat;
  border-color: transparent;
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

.playPause:focus {
  border-color: #ccccea;
  outline: 0;
}

.button {
  border: 1px solid #eaeaea;
  border-radius: 4px 4px 4px 4px;
  margin: 8px 0 16px;
  position: relative;
  z-index: 1;
}

.button::after {
  content: attr(title);
  display: block;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.button:focus {
  border-color: #ccccea;
  outline: 0;
  z-index: 2;
}

.leftButton {
  border-radius: 4px 0 0 4px;
}

.middleButton {
  border-radius: 0;
  left: -1px;
}


.rightButton {
  border-radius: 0 4px 4px 0;
  left: -1px;
}

.pressedButton {
  background-color: #ccc;
  border-color: #ddd;
  font-weight: bold;
}

.background {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('background.png');

  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-position:center;
}

.playbackControls {
  box-sizing:border-box;
  padding: 0 1em;
  position:relative;
  width:100%;
}

.legendItem {
  display: inline-block;
  padding: 0 1em;
}

.legend {
  font-size: 0.8em;
  padding: 1em 0;
}

.legendSquare {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: bottom;
}

.rangeContainer {
  display: inline-block;
  margin-left: 16px;
  position: relative;
  vertical-align: middle;
  width:calc(100% - 64px)
}

.SV { background-color: orange;} /* Severe Thunderstorm (SV) */
.TO { background-color: red;} /* Tornado (TO) */
.MA { background-color: palevioletred; } /* Marine (MA) */
.AF { background-color: red; } /* Volcanic Ashfall (AF) */
.AS { background-color: gray; } /* Air Stagnation (AS) */
.AV { background-color: blue; } /* Avalanche (AV) */
.BH { background-color: thistle; } /* Beach Hazard (BH) */
.BS { background-color: cyan; } /* Blowing Snow (BS) */
.BZ { background-color: orangered; } /* Blizzard (BZ) */
.CF { background-color: forestgreen; } /* Coastal Flood (CF) */
.DU { background-color: darkkhaki; } /* Blowing Dust (DU) */
.DS { background-color: bisque; } /* Dust Storm (DS) */
.EC { background-color: blue; } /* Extreme Cold (EC) */
.EH { background-color: mediumvioletred;} /* Excessive Heat (EH) */
.EW { background-color: deeppink;} /* Extreme Wind (EW) */
.FA { background-color: seagreen; } /* Areal Flood (FA) */
.FF { background-color: limegreen; } /* Flash Flood (FF) */
.FL { background-color: green; } /* Flood (FL) */
.FR { background-color: green; } /* Frost (FR) */
.FZ { background-color: cyan; } /* Freeze (FZ) */
.FG { background-color: slategray; } /* Dense Fog (FG) */
.FW { background-color: deeppink; } /* Red Flag (FW) */
.GL { background-color: #dda0dd; } /* Gale (GL) */
.HF { background-color: #cd5c5c; } /* Hurricane Force Wind (HF) */
.HI { background-color: #cd5c5c; } /* Inland Hurricane Wind (HI) */
.HS { background-color: blue; } /* Heavy Snow (HS) */
.HP { background-color: lightsteelblue; } /* Heavy Sleet (HP) */
.HT { background-color: coral; } /* Heat (HT) */
.HU { background-color: #dc143c; } /* Hurricane (HU) */
.HW { background-color: goldenrod; } /* High Wind (HW) */
.HY { background-color: springgreen; } /* Hydrologic (HY) */
.HZ { background-color: blue; } /* Hard Freeze (HZ) */
.IS { background-color: darkmagenta; } /* Ice Storm (IS) */
.IP { background-color: cyan; } /* Sleet (IP) */
.LB { background-color: blue; } /* Lake Effect Snow and Blowing Snow (LB) */
.LE { background-color: blue; } /* Lake Effect Snow (LE) */
.LO { background-color: khaki; } /* Low Water (LO) */
.LS { background-color: green; } /* Lakeshore Flood (LS) */
.LW { background-color: thistle; } /* Lake Wind (LW) */
.RB { background-color: thistle; } /* Small Craft for Rough Bar (RB) */
.RH { background-color: red; } /* Radiological Hazard (RH) */
.SB { background-color: blue; } /* Snow and Blowing Snow (SB) */
.SC { background-color: thistle; } /* Small Craft (SC) */
.SE { background-color: thistle; } /* Hazardous Seas (SE) */
.SI { background-color: thistle; } /* Small Craft for Winds (SI) */
.SM { background-color: khaki; } /* Dense Smoke (SM) */
.SN { background-color: blue; } /* Snow (SN) */
.SQ { background-color: blue; } /* Snow Squall (SQ) */
.SR { background-color: #9400d3; } /* Storm (SR) */
.SU { background-color: forestgreen; } /* High Surf (SU) */
.TI { background-color: #b22222; } /* Inland Tropical Storm Wind (TI) */
.TR { background-color: #b22222; } /* Tropical Storm (TR) */
.TS { background-color: red; } /* Tsunami (TS) */
.TY { background-color: #dc143c; } /* Typhoon (TY) */
.UP { background-color: blue; } /* Ice Accretion (UP) */
.VO { background-color: red; } /* Volcano (VO) */
.WC { background-color: lightsteelblue; } /* Wind Chill (WC) */
.WI { background-color: tan; } /* Wind (WI) */
.WS { background-color: hotpink; } /* Winter Storm (WS) */
.WW { background-color: #7b68ee; } /* Winter Weather (WW) */
.ZF { background-color: cyan; } /* Freezing Fog (ZF) */
.ZR { background-color: cyan; } /* Freezing Rain (ZR) */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  background: #333333;
  border-radius: 1px;
  border: 0px solid #222222;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  border: 0px solid #222222;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #222222;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a2a2a2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  background: #222222;
  border-radius: 1px;
  border: 0px solid #222222;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  border: 0px solid #222222;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #222222;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #222222;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
}
input[type=range]::-ms-fill-upper {
  background: #222222;
  border: 0px solid #222222;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #222222, 0px 0px 0px #2f2f2f;
  border: 0px solid #222222;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #222222;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #222222;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a2a2a2;
}
